:root {
	/*Color Choices*/
	--BAbeige: 			#e0d8b8;
	--BAbeigeDark: 		#584231;
	--RedAlert: 		#ff232e;
	--RedAlertPulse:	#6b2e1f;

	/*Font Faces*/
	@font-face {
	  font-family: green;
	  src: url('/fonts/font.ttf') format('ttf');
	}



}

.tbstyle {
	background-color: var(--BAbeige);
	border: 4px solid var(--BAbeigeDark); border-radius: 10px;
	font-family: 'green';
}

.tbstylein {
	border: 4px solid var(--BAbeigeDark);
}

.redalert {
	background-color: var(--RedAlert);
